.wrap {
  width: 1920px;
  height: 1080px;
}

.header_area {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 33px 260px;

  position: relative;
}

.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  text-transform: uppercase;

  position: relative;
}

/* women 메뉴 호버 */
.menu_list .menu1:hover .menu_open_woman {
  display: block;
}

/* 호버된 women 메뉴 마우스엔터 해도 열려있게 하는 클래스 추가  */
.menu_list .menu1.open .menu_open_woman {
  display: block;
}

/* women 메뉴창 */
.menu_list .menu_open_woman {
  display: none;

  position: fixed;

  top: 80px;
  left: 0;

  width: 100%;
  height: 540px;
  background-color: #fff;

  border-top: 1px solid #222222;
  z-index: 9999;

  transition: 0.3s;
}

.menu_list .menu_open_woman .woman_view {
  display: flex;
  justify-content: space-between;
  margin: 18px 260px;
}

.menu_list .menu_open_woman .woman_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: start;

  text-transform: uppercase;
  font-size: 14px;
}

.menu_list .menu_open_woman .woman1,
.menu_list .menu_open_woman .woman2,
.menu_list .menu_open_woman .woman3 {
  width: 310px;
  height: 362px;
}

.menu_list .menu_open_woman .menu {
  margin-bottom: 8px;
  color: #a2a2a2;
}

.menu_list .menu_open_woman .menu1 {
  color: #222222;
}

.menu_list .menu_open_woman .small_banner {
  width: 335px;
  height: 362px;

  position: absolute;
  top: 18px;
  right: 240px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;

  width: 164px;
  height: 24.8px;
  transform: translateX(-50%);
}

.info_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  text-transform: uppercase;
}

.video_banner {
  width: 100%;
  height: 100%;
  background-color: #222222;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.video_banner .banner {
  width: 453px;
  height: 356px;
}
